<div class="example-button-container">
    <button mat-mini-fab routerLink="/myProjects">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="parent">
    <form class="example-form" [formGroup]="projectForm" (ngSubmit)="submitForm()">
        <mat-form-field class="example-full-width">
            <mat-label>Nome do Projeto</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Descrição do Projeto</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Tipo do Projeto</mat-label>
            <mat-select formControlName="type">
              <mat-option value="none">None</mat-option>
              <mat-option *ngFor="let doc of tiposDoc" [value]="doc">{{doc}}</mat-option>
            </mat-select>
          </mat-form-field>
            <div>
                <label>PDF File</label>
                <input type="file" (change)="uploadFile($event.target)" formControlName="docURL">
            </div>
            <div class="example-button-row">
                <button type="submit" mat-raised-button>Editar Projeto</button>
            </div>
    </form>
</div>