<html class="aaa">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="container">
      <form [formGroup]="form_login" (ngSubmit)="submitForm()">
        <div class="title">
          <a routerLink="">
            Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match
          </a>
        </div>
        <div class="input-box underline">
          <input type="password" placeholder="Nova Senha" formControlName="password">
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" value="Redefinir Senha">
        </div>
      </form>
        <footer>
          <p class="footer-text">
            Novo no Sci.Match? <span class="textSpanFooter" routerLink="/register">Cadastre-se.</span>
          </p>
          <p class="footer-text">
            <span class="textSpanFooter" routerLink="/login">Voltar ao Login.</span>
          </p>
        </footer>
    </div>
  </body>
</html>