<header>
  <ng-container>
    <mat-toolbar class="mat-elevation-z8">
      <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
      >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div class="title">
      <span (click)="checkAdm('myProj')">
        Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match
      </span>
    </div>
  </mat-toolbar>
  </ng-container>
</header>
<body>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
      class="avatar mat-elevation-z8"
      [src]="usuario?.photoURL"
      />
        
      <h4 class="name">{{usuario?.email}}</h4>
      <h4 class="name">{{usuario?.academicRegister}}</h4>
        
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="redirect('myProj')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" (click)="redirect('profile')">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-button class="menu-button" (click)="redirect('project/create')">
        <mat-icon>library_books</mat-icon>
        <span>Criar Projeto</span>
      </button>
      <button mat-button class="menu-button" (click)="redirect('search')">
          <mat-icon>search</mat-icon>
          <span>Buscar Projetos</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button"
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()" routerLink="">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </mat-sidenav>
    

    <div class="projects">
      <button mat-flat-button color="accent" class="buttonNew" (click)="redirect('project/create')">Novo Projeto<mat-icon>add-circle</mat-icon></button>
  
      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Meus Projetos
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-accordion *ngFor="let projeto of myProj">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                      Titulo: {{projeto.name}}
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Descrição do Projeto: {{projeto.description}}</p>
                  <p>Tipo do projeto: {{projeto.type}}</p>
                  <p>Participantes do Projeto: </p>
                  <ul *ngFor="let i of projeto.members">
                      <li>{{i}}</li>
                  </ul>
                  <div *ngIf="projeto.docURL">
                    <a [href]="projeto.docURL">Documento do Projeto</a>
                  </div>
                  <div>
                    <button mat-mini-fab color="accent" class="buttonNew" (click)="editarProj(projeto)"><mat-icon>edit</mat-icon></button>  
                    <button mat-mini-fab color="warn" class="buttonNew" (click)="excluirProj(projeto)"><mat-icon>delete</mat-icon></button>
                  </div>
                  </mat-expansion-panel>
              </mat-accordion>
          </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
      <!--<mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Projetos que Participo
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-accordion *ngFor="let projeto of projetos">
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                      {{projeto}}
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Descricao</p>
                  <p>Tipo</p>
                  <p>Dono</p>
                  <p>instituicao</p>
                  <p>departamento</p>
                  <p>Participantes</p>
                  <ul>
                      <li>participante1</li>
                      <li>participante2</li>
                      <li>participante3</li>
                  </ul>
                  <button mat-mini-fab color="warn" class="buttonNew"><mat-icon>undo</mat-icon></button>
                  </mat-expansion-panel>
              </mat-accordion>
          </mat-expansion-panel>
      </mat-accordion>-->
      <mat-divider></mat-divider>
  </div>
  


  </mat-sidenav-container>
</body>