<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="container">
    <form action="#">
      <div class="title">
        <a routerLink="/login">
          Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match
        </a>
      </div>
      <div class="input-box underline">
        <input type="email" placeholder="Email" required>
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Senha" required>
        <div class="underline"></div>
      </div>
      <div class="input-box underline">
        <input type="text" placeholder="Nome" required>
        <div class="underline"></div>
      </div>
      <div class="input-box underline">
        <input type="text" placeholder="Registro Acadêmico" required>
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" name="" value="Cadastrar">
      </div>
    </form>
      <div class="twitter input-box button">
        <button class="Google">
          <p class="fa fa-google">  Cadastro com o Google</p>  
        </button>
      </div>
      <footer>
        <p class="footer-text">
          Voltar para a <span class="textSpanFooter" routerLink="">Home</span>
        </p>
      </footer>
  </div>
</body>
