
<header>
    <ng-container>
      <mat-toolbar class="mat-elevation-z8">
          <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
        >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
      <div class="title">
          <span (click)="redirect('myProj')">
          Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match
        </span>
      </div>
    </mat-toolbar>
</ng-container>
  </header>
  <body>
      <mat-sidenav-container>
          <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img
            class="avatar mat-elevation-z8"
            [src]="usuario?.photoURL"
            />
              
            <h4 class="name">{{usuario?.email}}</h4>
            <h4 class="name">{{usuario?.academicRegister}}</h4>
        
        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button" (click)="redirect('myProj')">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="redirect('profile')">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-button class="menu-button" (click)="redirect('project/create')">
          <mat-icon>library_books</mat-icon>
          <span>Criar Projeto</span>
        </button>
        <button mat-button class="menu-button" (click)="redirect('search')">
            <mat-icon>search</mat-icon>
            <span>Buscar Projetos</span>
          </button>
        
        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button"
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()" routerLink="">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-sidenav>


<div class="example-button-container">
    <button mat-mini-fab routerLink="/searchProject">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="pageInfos">
    <img class="avatar" src="../assets/images.png"/>
    <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon>email</mat-icon> email</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>person</mat-icon> name</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>business</mat-icon> institute</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>folder</mat-icon> department</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>contact_phone</mat-icon> phoneNumber</mat-list-item>
    </mat-list>
</div>


    </mat-sidenav-container>
  </body>