* {
    margin: 0;
    padding: 0;

}

.avatar {
    margin-left: 0;
    padding-left: 0;
    margin-top: 2%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .pageInfos{
    justify-content: center;
    text-align: center;
  }

  .example-button-container {
    cursor: pointer;
    margin-top: 2%;
    margin-left: 3%;
    width: 120px;
  }

  button{
    background-color: #fbc02d;
  }

mat-icon{
    color: #212121;
}

mat-toolbar {
  background: #fbc02d;
  color: #212121
}

mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  background:#fbc02d;
  color: #212121;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.title span{
  padding-left: 1rem;
  color: #212121;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: 600;
  color: #212121;
  font-size:medium;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fff9c4;
}