<div class="example-button-container">
    <button mat-mini-fab routerLink="/searchProject">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="pageInfos">
    <img class="avatar" src="../assets/images.png"/>
    <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon>email</mat-icon> email</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>person</mat-icon> name</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>business</mat-icon> institute</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>folder</mat-icon> department</mat-list-item>
        <mat-list-item role="listitem"><mat-icon>place</mat-icon> city</mat-list-item>
    </mat-list>
</div>