<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-card w3-left-align w3-large">
        <a routerLink="" class="w3-bar-item w3-button w3-padding-large w3-white">Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match</a>
      </div>
    </div>
    
    <!-- Header -->
    <header class="w3-card w3-center" style="padding:128px 16px" id="Pagetop">
      <h1 class="w3-margin w3-jumbo">Seja Bem-Vindo(a)</h1>
      <button class="w3-button w3-padding-large w3-large w3-margin-top w3-margin-right" routerLink="login">Faça Login</button>
      <button class="w3-button w3-padding-large w3-large w3-margin-top w3-margin-left" routerLink="register">Cadastre-se</button>
    </header>
    
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Construa Conhecimento.</h1>
          <h2 class="w3-padding-32">Construa, Colabore, Participe.</h2>
    
          <p class="w3-text-grey">A colaboração e interdisciplinaridade têm se 
            tornado fundamentais para impulsionar a inovação e enfrentar os desafios 
            contemporâneos. Nesse contexto, a busca por soluções conjuntas tem se tornado
            uma estratégia essencial para explorar todo o potencial oferecido pela 
            comunidade científica. Construindo assim de um cenário 
            colaborativo e sinérgico, capaz de impulsionar o progresso científico, tecnológico 
            e social .</p>
        </div>
    
        <div class="w3-third w3-center">
          <i class="fa fa-book w3-padding-64"></i>
        </div>
      </div>
    </div>
    
    <!-- Second Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-handshake-o w3-padding-64 w3-margin-right"></i>
        </div>
    
        <div class="w3-twothird">
          <h1>Faça Parcerias.</h1>
          <h2 class="w3-padding-32">Trabalhe em Conjunto, de qualquer lugar ou instituição.</h2>
    
          <p class="w3-text-grey">Descreva problemas e necessidades para o seu projeto, 
            para que aqueles com o conhecimento e habilidades necessárias entrem em contato. 
            Com isso decidam se haverá ou não a parceria. Unindo assim, pessoas de 
            departamentos ou instituições diferentes em prol do desenvolvimento científico em 
            ambientes acadêmicos.</p>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
      <p>© 2023 SciMatch, Inc. 
        <a href="#Pagetop">
          <mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>
        </a>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </p>
      <!-- <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
     </div>-->
    </footer>
    
    </body>