<header>
  <mat-toolbar class="mat-elevation-z8">
    <div class="title">
      <span routerLink="/admin">
        Sci<mat-icon fontIcon="lightbulb" aria-hidden="false"></mat-icon>Match
      </span>
    </div>
    <span>
        <h1 class="titulo">Pagina do Administrador</h1>
    </span>
</mat-toolbar>
</header>
<body>
  <mat-tab-group color="accent">
      <mat-tab label="Criação">
        <div class="">
          <h2>Instituição de Ensino</h2>
          <form [formGroup]="form_uni" (ngSubmit)="submitFormU()">
              <mat-form-field class="example-full-width">
                  <mat-label>Nome</mat-label>
                  <input matInput placeholder="Ex. UNICENTRO - Universidade Estadual do Centro Oeste" formControlName="name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Ex. exemplo@dominio.com" formControlName="email">
              </mat-form-field>
              <div class="example-button-row">
                  <button type="submit" color="accent" mat-raised-button (click)="snackBarUni()">Cadastrar</button>
              </div>
          </form>
          <div class="">
              <h2>Departamento</h2>
              <form [formGroup]="form_depto" (ngSubmit)="submitFormD()">
                <mat-form-field class="example-full-width">
                  <mat-label>Instituição</mat-label>
                  <mat-select formControlName="idInstitute">
                    <mat-option value="none">None</mat-option>
                    <mat-option *ngFor="let option of options" [value]="option.id">{{option.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <mat-label>Nome</mat-label>
                      <input matInput placeholder="Ex. DECOMP" formControlName="name">
                  </mat-form-field>
                  <div class="example-button-row">
                      <button color="accent" mat-raised-button>Cadastrar</button>
                  </div>
              </form>
            </div>
        </div>
      </mat-tab>
      <mat-tab label="Solicitações">
        <div class="">
          <mat-accordion class="example-headers-align">
              <mat-expansion-panel [expanded]="false" hideToggle *ngFor="let sol of solicitationArray">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{sol.title}}
                  </mat-panel-title>
                  <mat-action-row>
                      <button mat-button color="secundary" (click)="deleteSolicitation(sol.id)"><mat-icon>delete</mat-icon>></button>
                    </mat-action-row>
                </mat-expansion-panel-header>
            
                  <mat-label>{{sol.description}}</mat-label>
  
              </mat-expansion-panel>
            
            </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  
</body>